table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #3498db;
  color: white;
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {
background-color: #3498db;
color: white;
}
button.right-request {
position: fixed;
right: 8px;
}
